@import url(http://fonts.googleapis.com/css?family=Open+Sans:100,400,300,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:100,400,300,600,700);

/*----------------------------------------
  General Layout Style
------------------------------------------*/

html {
    font-size: 100%;
    height: 100%;
    background-color: #f1f2f7;
}

html.boxed{
    background: #dddddd;
}

body {
    background-color: #f1f2f7;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0px !important;
    margin: 0px !important;
    line-height: 23px;
    font-style: normal;
    font-weight: normal;
    min-height: 100%;
}
body.boxed {
    margin: 0 auto !important;
    max-width: 90%;
    width: 90%;
    min-height: 100%;
    box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -o-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -ms-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -moz-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -webkit-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
}
body.boxed .page-topbar {
    max-width: 90%;
    width: 90%;
    margin-left: 5% !important;
}
/*body *{  vertical-align: top; }*/

.paddingLeft0 {
    padding-left: 0px;
}
.paddingRight0 {
    padding-right: 0px;
}
.bottom5 {
    margin-bottom: 5px;
}
.bottom10 {
    margin-bottom: 10px;
}
.bottom15 {
    margin-bottom: 15px;
}
.top15 {
    margin-top: 15px;
}
.right15 {
    margin-right: 15px;
}
.left15 {
    margin-left: 15px;
}

.padding-15{
    padding: 15px;
}

.padding-30{
    padding: 30px;
}

/*----------------------------------------
    Page Title and Breadcrumb  
------------------------------------------*/

.page-title h1 {
    font-size: 30px;
    font-weight: 400;
    padding: 0;
    text-transform: uppercase;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    color: rgba(118, 118, 118, 1.0);
    margin-bottom: 15px;
}
.page-title .breadcrumb {
    padding: 0px;
    margin: 15px 0;
}
.page-title {
    display: inline-block;
    width: 100%;
}
/*---------------------------------
    Typography
-----------------------------------*/

h1, h2, h3, h4, h5, h6 {
    /*  font-family: Oswald, Helvetica, Arial, sans-serif;*/
    
    margin: 10px 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #505458;
}
.light {
    font-weight: 100;
}
.bold {
    font-weight: 700;
}
.semi-bold {
    font-weight: 400;
}
blockquote, .blockquote-reverse, blockquote.pull-right {
    font-size: 16px;
    border-color: rgba(31, 181, 172, 1);
}
blockquote.pull-right {
    width: 100%;
}
blockquote.purple {
    border-color: rgba(153, 114, 181, 1.0);
}
blockquote.orange {
    border-color: rgba(250, 133, 100, 1.0);
}
blockquote.background {
    background: #f5f5f5;
}
.well {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #f5f5f5;
    border-color: #eaeaea;
}
.well.primary, .well.primary * {
    background-color: rgba(31, 181, 172, 1);
    color: #ffffff;
    border-color: rgba(31, 181, 172, 1);
}
.well.transparent {
    background-color: transparent;
}
a {
    color: #293541;
}
a:hover, a:focus {
    color: #333333;
}

.text-dark {
    color: #333333;
}
.text-muted {
    color: #999999;
}
.text-primary {
    color: rgba(31, 181, 172, 1);
}
.text-info {
    color: rgba(35, 183, 229, 1.0);
}
.text-warning {
    color: #FDB45C;
}
.text-danger {
    color: rgba(240, 80, 80, 1.0);
}
.text-success {
    color: rgba(102, 189, 120, 1.0);
}
.text-purple {
    color: rgba(153, 114, 181, 1.0);
}
.text-orange {
    color: rgba(250, 133, 100, 1.0);
}
.text-light {
    color: #f5f5f5;
}
.bg-muted {
    background: #eaeaea;
    padding: 3px 8px;
}
.bg-primary {
    background: rgba(31, 181, 172, 1);
    padding: 3px 8px;
    color: #ffffff;
}
.bg-info {
    background: rgba(35, 183, 229, 1.0);
    padding: 3px 8px;
    color: #ffffff;
}
.bg-warning {
    background: #FDB45C;
    padding: 3px 8px;
    color: #ffffff;
}
.bg-danger {
    background: rgba(240, 80, 80, 1.0);
    padding: 3px 8px;
    color: #ffffff;
}
.bg-success {
    background: rgba(102, 189, 120, 1.0);
    padding: 3px 8px;
    color: #ffffff;
}
.bg-purple {
    background: rgba(153, 114, 181, 1.0);
    padding: 3px 8px;
    color: #ffffff;
}
.bg-orange {
    background: rgba(250, 133, 100, 1.0);
    padding: 3px 8px;
    color: #ffffff;
}
.bg-secondary {
    background: rgba(169, 169, 169, 1.0);
    padding: 3px 8px;
    color: #555555;
}
.bg-white {
    background: #ffffff;
    padding: 3px 8px;
    color: #777777;
}
/*-------------------------------
  Page Loading Progress Bar (PACE)
-----------------------------------*/

.pace .pace-progress {
    background: #293541;
    height: 3px;
}
.pace .pace-activity {
    top: 15px;
    right: 15px;
    width: 17px;
    height: 17px;
    border: solid 3px transparent;
    border-top-color: #293541;
    border-left-color: #293541;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
/*----------------------------------------
  Page Top Bar
------------------------------------------*/

.page-topbar {
    min-height: 60px;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0px;
    left: 0px;
    z-index: 1999;
    box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -o-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -ms-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -moz-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -webkit-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    max-height: 60px;
}
.page-topbar .logo-area {
    width: 300px;
    background-color: #FE8F3E;
    display: block;
    min-height: 60px;
    float: left;
}
.page-topbar .quick-area .info-menu {
    height: 60px;
    margin: 0;
    line-height: 60px;
    padding: 0 15px;
}
.page-topbar .quick-area .info-menu li {
    position: relative;
}
.page-topbar .quick-area .info-menu li a.toggle, .page-topbar .quick-area .info-menu li a.toggle_chat, .page-topbar .quick-area .info-menu li a.sidebar_toggle {
    width: 30px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: rgba(150, 150, 158, 1.0);
    position: relative;
}
.page-topbar .quick-area .info-menu li a.toggle .badge, .page-topbar .quick-area .info-menu li a.toggle_chat .badge, .page-topbar .quick-area .info-menu li a.sidebar_toggle .badge {
    position: absolute;
    font-size: 10px;
    padding: 4px;
    margin: 10px 0 0 -5px;
    width: 18px;
    height: 18px;
}
.page-topbar .quick-area .info-menu li a.toggle_chat i {
    font-size: 18px;
}
.page-topbar .quick-area .info-menu li.profile a {
    width: auto;
    text-decoration: none;
}
.page-topbar .quick-area .info-menu li.profile img {
    height: 30px;
    width: 30px;
    top: 0px;
    right: 10px;
    position: relative;
    background-color: #999999;
}
.page-topbar i {
    font-size: 14px;
}

.page-topbar .message-toggle-wrapper,
.page-topbar .notify-toggle-wrapper,
.page-topbar .searchform,
.page-topbar li.profile{
    opacity: 0;
}

.page-topbar .message-toggle-wrapper.showopacity,
.page-topbar .notify-toggle-wrapper.showopacity,
.page-topbar .searchform.showopacity,
.page-topbar li.profile.showopacity{
    opacity: 1 !important;
}


/*------- Drop Down ----------*/

.page-topbar .quick-area .info-menu li .dropdown-menu {
    width: 360px;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    line-height: 23px;
    font-size: 14px;
    padding-bottom: 0px;
    border: 0px solid transparent;
    box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -o-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -ms-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -moz-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -webkit-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    margin-top: -1px;
    padding-top: 0px;
}
/*---- top arrow - start ----- */

.page-topbar .dropdown-menu {
    background: #ffffff;
    border: 1px solid #f5f5f5;
}
.page-topbar .dropdown-menu:after, .page-topbar .dropdown-menu:before {
    bottom: 100%;
    left: 22px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.page-topbar .dropdown-menu:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 9px;
    margin-left: -9px;
}
.page-topbar .dropdown-menu:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: rgba(80, 80, 80, .1);
    border-width: 10px;
    margin-left: -10px;
}
/*---- dropdown list ----- */

.page-topbar li .dropdown-menu li.list {
    padding: 0 30px;
    overflow: hidden;
    max-height: 300px;
    height: 300px;
}
.page-topbar li .dropdown-menu li li {
    width: 100%;
    display: block;
    position: relative;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #eaeaea;
}
.page-topbar li .dropdown-menu li li:last-child {
    border-bottom: 0px;
}
.page-topbar li .dropdown-menu li a {
    text-decoration: none;
    color: #717171;
}
.page-topbar li .dropdown-menu li .name, .page-topbar li .dropdown-menu li .desc {
    display: block;
    position: relative;
}
.page-topbar li .dropdown-menu li .user-img img {
    width: 25px;
    height: 25px;
    float: left;
    margin: 5px 15px 0 0;
    opacity: 0.8;
}
.page-topbar li .dropdown-menu li .profile-status {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.page-topbar li .dropdown-menu li .name {
    color: #aaaaaa;
}
.page-topbar li .dropdown-menu li .name .time {
    color: #cccccc;
}
.page-topbar li .dropdown-menu li .desc {
    color: #999999;
}
.page-topbar li .dropdown-menu li.unread .user-img img {
    opacity: 1;
    margin-bottom: 20px;
}
.page-topbar li .dropdown-menu li.unread .name {
    color: #717171;
}
.page-topbar li .dropdown-menu li.unread .name .time {
    color: #aaaaaa;
}
.page-topbar li .dropdown-menu li.unread .desc {
    color: #777777;
}
.page-topbar li .dropdown-menu li.external a:hover, .page-topbar li .dropdown-menu li.external {
    height: auto;
    background: #f4f5f7;
}
.page-topbar li .dropdown-menu li.external a {
    display: block;
    padding: 15px 30px;
    color: #999999;
    font-size: 13px;
}
/* ---- notifications page top bar ----- */

.page-topbar li .dropdown-menu.notifications li .name .time {
    display: block;
    position: relative;
}
.page-topbar li .notifications .notice-icon i {
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 30px;
    width: 30px;
    line-height: 30px;
    float: left;
    display: inline-block;
    text-align: center;
    margin-right: 15px;
    color: #ffffff;
    margin-top: 5px;
}
.page-topbar li .notifications .total {
    padding: 0px 30px 0px 30px;
}
.page-topbar li .notifications .total span {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #eaeaea;
    display: block;
}
.page-topbar li .notifications .available .notice-icon i {
    background-color: rgba(102,189,120,1);
}
.page-topbar li .notifications .busy .notice-icon i {
    background-color: rgba(240,80,80,1);
}
.page-topbar li .notifications .away .notice-icon i {
    background-color: rgba(253,180,92,1);
}
.page-topbar li .notifications .idle .notice-icon i {
    background-color: rgba(250,133,100,1);
}
.page-topbar li .notifications .offline .notice-icon i {
    background-color: rgba(169,169,169,1);
}



/*---- profile drop down -----*/

.page-topbar li .dropdown-menu.profile {
    max-width: 180px;
    height: auto;
    padding: 0px;
}
.page-topbar li .dropdown-menu.profile li {
    line-height: 40px;
    display: block;
    height: 40px;
    margin: 0px;
}
.page-topbar li .dropdown-menu.profile li i {
    margin-right: 10px;
    line-height: 36px;
    height: 36px;
    width: auto;
    text-align: center;
}
.page-topbar li .dropdown-menu.profile li a {
    display: block;
    border-bottom: 1px solid #f4f5f7;
}
.page-topbar li .dropdown-menu.profile li.last a, .page-topbar li .dropdown-menu.profile li a:hover {
    background: #f4f5f7;
}

@media (max-width: 450px) {
.profile .toggle span{display: none;}
.page-topbar .quick-area .info-menu li.profile img{right:0px;}
.page-topbar .quick-area .info-menu li.profile .dropdown-menu{right:auto;left:-122px;}
.page-topbar .profile .dropdown-menu:after, .page-topbar .profile .dropdown-menu:before{right:22px;left:auto;}
/*.page-topbar .quick-area .info-menu li.sidebar-toggle-wrap{display: none;}*/
/*.page-topbar .quick-area .chat-toggle-wrapper{display: none;}*/
/*.page-topbar .quick-area .info-menu li .dropdown-menu{width:290px;}*/
}

@media (max-width: 680px) {
.profile .toggle span{display: none;}
.page-topbar .quick-area .info-menu li.profile img{right:0px;}
.page-topbar .quick-area .pull-left ul.info-menu{padding-right: 0px;}
.page-topbar .quick-area .pull-right ul.info-menu{padding-left: 0px;}
}


@media (max-width: 245px) {
.page-topbar .quick-area .pull-left{display: none;}
}

/*----------------------------------------
  Sidebar Main Menu
------------------------------------------*/

.page-sidebar {
    height: auto;
    width: 300px;
    position: fixed;
    padding: 0px;
    background-color: #293541;
    margin-top: 60px;
    overflow: hidden;
}


#main-menu-wrapper {
    padding-top: 0px;
    overflow: hidden;
    position: relative;
}
#main-menu-wrapper ul {
    padding: 0px;
    margin: 0px;
    padding-left: 0px;
    list-style-type: none;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
}
#main-menu-wrapper ul.wraplist {
    padding-bottom: 0px;
}
#main-menu-wrapper li ul.sub-menu {
    padding-left: 45px;
}
#main-menu-wrapper li ul.sub-menu ul.sub-menu {
    padding-left: 20px;
}
#main-menu-wrapper li ul.sub-menu {
    display: none;
    list-style-type: none;
    font-size: 14px;
    width: 100%;
}
#main-menu-wrapper li a {
    display: block;
    line-height: 45px;
    min-height: 45px;
    height: auto;
    color: #f1f1f1;
    color: rgba(214, 218, 223, 1.0);
    text-decoration: none;
    padding-left: 30px;
    clear: both;
}
#main-menu-wrapper li .sub-menu a {
    line-height: 36px;
    min-height: 36px;
}
#main-menu-wrapper li .sub-menu a {
    color: rgba(174, 178, 183, 1.0);
    margin-bottom: 2px;
    padding-left: 15px;
    border-left: 3px solid transparent;
}
#main-menu-wrapper li.open .sub-menu a.active, #main-menu-wrapper li.open .sub-menu a:hover, #main-menu-wrapper li .sub-menu a:hover {
    background-color: #323E4A;
    border-left: 3px solid #323E4A;
}
#main-menu-wrapper li a:hover, #main-menu-wrapper li.open a {
    background-color: #323E4A;
    color: #ffffff;
}
#main-menu-wrapper li a:hover .arrow:before, #main-menu-wrapper li.open a .arrow:before {
    color: rgba(234, 238, 243, 0.9);
}
#main-menu-wrapper li .sub-menu a:hover .arrow:before, #main-menu-wrapper li.open .sub-menu a .arrow:before {
    color: rgba(194, 198, 203, 0.65);
}
#main-menu-wrapper li.open .sub-menu a {
    background-color: transparent;
    color: rgba(174, 178, 183, 1.0);
}
#main-menu-wrapper li a i {
    display: inline-block;
    width: 45px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    top: -2px;
    position: relative;
}
#main-menu-wrapper li a .arrow:before {
    float: right;
    margin-top: 1px;
    margin-right: 20px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
    color: rgba(194, 198, 203, 0.65);
}
#main-menu-wrapper li.open a .arrow.open:before {
    content: "\f107";
}
#main-menu-wrapper li a .arrow {
    float: right;
}
#main-menu-wrapper .fa {
    font-size: 14px;
}

#main-menu-wrapper li .label{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 3px 7px;
    float: right;
    margin: 15px 15px 0 0;
}

#main-menu-wrapper li .label.nosubmenu{
    margin-right: 41px;
}


.page-sidebar.chat_shift #main-menu-wrapper li .label,
.page-sidebar.collapseit #main-menu-wrapper li .label{
    display: none;
}

.page-sidebar.chat_shift #main-menu-wrapper li:hover .label,
.page-sidebar.collapseit #main-menu-wrapper li:hover .label{
    display: inline-block;
    margin-top: -30px;
}

/*----------------------------------------
  Sidebar User Profile
------------------------------------------*/

.page-sidebar .profile-info {
    background: transparent;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 15px;
}
.page-sidebar .profile-image {
    padding-right: 5px;
    display: inline-block;
}
.profile-info .profile-image img {
    height: 65px;
    width: 65px;
    float: right;
    top: 5px;
    left: 5px;
    position: relative;
    background-color: #777777;
}
.profile-info .profile-details h3 {
    margin: 10px 0 5px 0;
}
.profile-info .profile-details h3 a {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: rgba(234, 238, 243, 1.0);
    font-size: 19px;
    line-height: 23px;
    text-decoration: none;
}
.profile-info .profile-details .profile-title {
    color: rgba(174, 178, 183, 1.0);
    font-size: 13px;
}
.profile-info .profile-details .profile-status {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
}
.profile-status.available, .uprofile-status.available {
    background-color: rgba(102, 189, 120, 1.0);
}
.profile-status.busy, .uprofile-status.busy {
    background-color: rgba(240, 80, 80, 1.0);
}
.profile-status.idle, .uprofile-status.idle {
    background-color: #fa8564;
}
.profile-status.away, .uprofile-status.away {
    background-color: #FDB45C;
}
.profile-status.offline, .uprofile-status.offline {
    background-color: rgba(169, 169, 169, 1.0);
}

/*---------------------------------
  Section and Content Box
----------------------------------*/

section.box {
    background-color: #ffffff;
    margin: 15px 0;
}
section header {
    width: 100%;
    display: inline-block;
    background-color: #f5f5f5;
    border: 1px solid #e8e8e8;
    border-bottom: 2px solid #293541;
    vertical-align: top;
    position: relative;
}
section header .title {
    margin-top: 10px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 19px;
    padding-left: 15px;
    line-height: 30px;
    color: #676767;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
}
section .content-body {
    padding: 30px;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-top: 0px;
    -webkit-transition: 800ms;
    -moz-transition: 800ms;
    -o-transition: 800ms;
    transition: 800ms;
}
section.box.nobox {
    background-color: transparent;
}
section.nobox header {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 0px solid transparent;
}
section.nobox header .title {
    padding-left: 0px;
}
section.nobox .content-body {
    background-color: transparent;
    border: 0px solid transparent;
    padding: 0 0px 0px 0px;
}
section.box .actions {
    margin: 0 15px;
    line-height: 50px;
    position: absolute;
    right: 0px;
    top:0px;
}
section.box .actions i {
    color: #bcbcbc;
    font-size: 12px;
    margin-left: 0px;
    padding: 5px;
    cursor: hand;
    cursor: pointer;
}
section.box .actions i:hover {
    color: #999999;
}
section .content-body.collapsed {
    /*display: none;*/
    /*  height: 0px !important;
  overflow: hidden;
  max-height: 0px !important;
  padding: 0px 30px !important;*/
}
/*--------ui panels section for different colors--------*/
/*transparent*/

section.box.transparent {
    background-color: transparent;
}
section.transparent header {
    background-color: transparent;
    border: 1px solid #e8e8e8;
    border-bottom: 2px solid #1fb5ac;
}
section.transparent .content-body {
    background-color: transparent;
    border: 1px solid #e1e1e1;
    border-top: 0px;
}
/*inverted*/

section.box.inverted {
    background-color: #777777;
    color: #dddddd;
}
section.inverted header {
    background-color: rgba(50, 50, 58, 0.8);
    border: 1px solid #333333;
    border-bottom: 2px solid #1fb5ac;
    color: #cccccc;
}
section.inverted header .title {
    color: #dddddd;
}
section.inverted .content-body {
    background-color: rgba(50, 50, 58, 0.4);
    border: 1px solid #333333;
    color: #dddddd;
    border-top: 0px;
}
/*----all colors----*/

section.primary header {
    background-color: #1fb5ac;
    border: 1px solid #1fb5ac;
    border-bottom: 2px solid #1fb5ac;
    color: #f5f5f5;
}
section.purple header {
    background-color: #9972b5;
    border: 1px solid #9972b5;
    border-bottom: 2px solid #9972b5;
    color: #f5f5f5;
}
section.orange header {
    background-color: #fa8564;
    border: 1px solid #fa8564;
    border-bottom: 2px solid #fa8564;
    color: #f5f5f5;
}
section.success header {
    background-color: rgba(102, 189, 120, 1.0);
    border: 1px solid rgba(102, 189, 120, 1.0);
    border-bottom: 2px solid rgba(102, 189, 120, 1.0);
    color: #f5f5f5;
}
section.warning header {
    background-color: #FDB45C;
    border: 1px solid #FDB45C;
    border-bottom: 2px solid #FDB45C;
    color: #f5f5f5;
}
section.danger header {
    background-color: rgba(240, 80, 80, 1.0);
    border: 1px solid rgba(240, 80, 80, 1.0);
    border-bottom: 2px solid rgba(240, 80, 80, 1.0);
    color: #f5f5f5;
}
section.info header {
    background-color: rgba(35, 183, 229, 1.0);
    border: 1px solid rgba(35, 183, 229, 1.0);
    border-bottom: 2px solid rgba(35, 183, 229, 1.0);
    color: #f5f5f5;
}
section.primary header .title, section.purple header .title, section.orange header .title, section.success header .title, section.warning header .title, section.danger header .title, section.info header .title {
    color: #f5f5f5;
}
section.box.primary .actions i, section.box.purple .actions i, section.box.orange .actions i, section.box.success .actions i, section.box.warning .actions i, section.box.info .actions i, section.box.danger .actions i {
    color: #e1e1e1;
}
section.box.primary .actions i:hover, section.box.purple .actions i:hover, section.box.orange .actions i:hover, section.box.success .actions i:hover, section.box.warning .actions i:hover, section.box.info .actions i:hover, section.box.danger .actions i:hover {
    color: #f5f5f5;
}

/*------------------------------
    BUTTONS
-------------------------------*/

.btn {
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border: 0px;
    font-family: Oswald, Helvetica, Arial, sans-serif;
    font-weight: 300;
    text-shadow: none;
}
.btn.btn-round {
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
.btn.btn-corner {
    border-radius: 8px;
    -o-border-radius: 8px;
    -ms-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
.btn.btn-border {
    border: 2px solid #eaeaea;
    color: #333333;
    background: transparent;
}
.btn.btn-border.btn-success {
    border: 2px solid rgba(102, 189, 120, 1.0);
    color: rgba(102, 189, 120, 1.0);
    background: transparent;
}
.btn.btn-border.btn-warning {
    border: 2px solid #FDB45C;
    color: #FDB45C;
    background: transparent;
}
.btn.btn-border.btn-danger {
    border: 2px solid rgba(240, 80, 80, 1.0);
    color: rgba(240, 80, 80, 1.0);
    background: transparent;
}
.btn.btn-border.btn-info {
    border: 2px solid rgba(35, 183, 229, 1.0);
    color: rgba(35, 183, 229, 1.0);
    background: transparent;
}
.btn.btn-border.btn-orange {
    border: 2px solid rgba(250, 133, 100, 1.0);
    color: rgba(250, 133, 100, 1.0);
    background: transparent;
}
.btn.btn-border.btn-purple {
    border: 2px solid rgba(153, 114, 181, 1.0);
    color: rgba(153, 114, 181, 1.0);
    background: transparent;
}
.btn.btn-border.btn-primary {
    border: 2px solid rgba(31, 181, 172, 1.0);
    color: rgba(31, 181, 172, 1.0);
    background: transparent;
}
.btn.btn-border.btn-secondary {
    border: 2px solid rgba(169, 169, 169, 1.0);
    color: rgba(169, 169, 169, 1.0);
    background: transparent;
}
.btn.btn-border, .btn.btn-border.btn-default {
    border: 2px solid #eaeaea;
    color: #333333;
    background: transparent;
}
.btn.btn-border.btn-link {
    border: 2px solid transparent;
    color: #337ab7;
    background: transparent;
}
/*colors*/

.btn.btn-success {
    background: rgba(102, 189, 120, 1.0);
    color: #ffffff;
}
.btn.btn-warning {
    background: #FDB45C;
    color: #ffffff;
}
.btn.btn-danger {
    background: rgba(240, 80, 80, 1.0);
    color: #ffffff;
}
.btn.btn-info {
    background: rgba(35, 183, 229, 1.0);
    color: #ffffff;
}
.btn.btn-orange {
    background: rgba(250, 133, 100, 1.0);
    color: #ffffff;
}
.btn.btn-purple {
    background: rgba(153, 114, 181, 1.0);
    color: #ffffff;
}
.btn.btn-primary {
    background: rgba(31, 181, 172, 1.0);
    color: #ffffff;
}
.btn.btn-secondary {
    background: rgba(169, 169, 169, 1.0);
    color: #ffffff;
}
.btn, .btn.btn-default {
    background: #eaeaea;
    color: #333333;
}
.btn.btn-link {
    background: transparent;
    color: #337ab7;
}
/*size*/

.btn {
    padding: 7px 18px;
}
.btn.btn-lg, .btn-lg, .btn-group-lg>.btn {
    padding: 10px 21px;
}
.btn.btn-sm, .btn-sm, .btn-group-sm>.btn {
    padding: 5px 13px;
}
.btn.btn-xs, .btn-xs, .btn-group-xs>.btn {
    padding: 2px 8px;
}
.btn.btn-block, .btn-block, .btn-group-block>.btn {
    padding: 11px 23px;
    font-size: 19px;
    line-height: 25px;
}
/*hover state*/
/*.btn:hover, .btn:active, .btn:focus{color:#ffffff;}*/

.btn:hover, .btn:active, .btn:focus, .btn-default:hover, .btn-default:active, .btn-default:focus {
    color: #333333;
    background: #e5e5e5;
}
.btn.btn-link:hover, .btn.btn-link:focus {
    color: rgba(1,131,122, 1.0);
    background: transparent;
}
.btn-success:hover, .btn-success:active, .btn-success:focus {
    background: rgba(72,159,90,1.0);
    color: #ffffff;
}
.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
    background: #e9a048;
    color: #ffffff;
}
.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background: rgba(210,50,50,1.0);
    color: #ffffff;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
    background: rgba(5,153,199,1.0);
    color: #ffffff;
}
.btn-orange:hover, .btn-orange:active, .btn-orange:focus {
    background: rgba(215, 113, 80, 1.0);
    color: #ffffff;
}
.btn-purple:hover, .btn-purple:active, .btn-purple:focus {
    background: rgba(123, 74, 141, 1.0);
    color: #ffffff;
}
.btn-primary.active, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: rgba(1,151,142, 1.0);
    color: #ffffff;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    background: rgba(139,139,139, 1.0);
    color: #ffffff;
}
.btn-default.active, .btn-default:hover, .btn-default:active, .btn-default:focus {
    background: #d5d5d5;
    color: #333333;
}
.btn-default:active, .btn-primary:active, .btn-success:active, .btn-info:active, .btn-warning:active, .btn-danger:active, .btn-default.active, .btn-primary.active, .btn-success.active, .btn-info.active, .btn-warning.active, .btn-danger.active {
    box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -webkit-box-shadow: none;
}
.btn-primary:disabled, .btn-primary[disabled] {
    background: rgba(0,131,122, 1.0);
    color: #ffffff;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    text-shadow: none;
}
.btn-colors .btn {
    width: 80px;
    margin: 0 15px 15px 0;
}
.btn-iconic .btn, .btn-social .btn {
    width: 50px;
    text-align: center;
    margin: 0 10px 10px 0px;
}

/*------------------------------------
     Modals 
 ------------------------------------*/

.modal-content {
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.modal-body {
    padding: 30px;
}
.modal {
    z-index: 11040<;
}

/*---------------------------------------------
    Dropdown menu
----------------------------------------------*/

.dropdown-menu {
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .125);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .125);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .125);
    border-color: #f5f5f5;
}

/*---------------------------------------------
  General Animation Settings    
----------------------------------------------*/

.animated-duration-200ms {
    -webkit-animation-duration: 200ms;
    -moz-animation-duration: 200ms;
    -o-animation-duration: 200ms;
    animation-duration: 200ms;
}
.animated-duration-400ms {
    -webkit-animation-duration: 400ms;
    -moz-animation-duration: 400ms;
    -o-animation-duration: 400ms;
    animation-duration: 400ms;
}
.animated-duration-600ms {
    -webkit-animation-duration: 600ms;
    -moz-animation-duration: 600ms;
    -o-animation-duration: 600ms;
    animation-duration: 600ms;
}
.animated-duration-800ms {
    -webkit-animation-duration: 800ms;
    -moz-animation-duration: 800ms;
    -o-animation-duration: 800ms;
    animation-duration: 800ms;
}
.animated-duration-1000ms {
    -webkit-animation-duration: 1000ms;
    -moz-animation-duration: 1000ms;
    -o-animation-duration: 1000ms;
    animation-duration: 1000ms;
}
.animated-duration-1200ms {
    -webkit-animation-duration: 1200ms;
    -moz-animation-duration: 1200ms;
    -o-animation-duration: 1200ms;
    animation-duration: 1200ms;
}
.animated-duration-1400ms {
    -webkit-animation-duration: 1400ms;
    -moz-animation-duration: 1400ms;
    -o-animation-duration: 1400ms;
    animation-duration: 1400ms;
}
.animated-duration-1600ms {
    -webkit-animation-duration: 1600ms;
    -moz-animation-duration: 1600ms;
    -o-animation-duration: 1600ms;
    animation-duration: 1600ms;
}
.animated-duration-1800ms {
    -webkit-animation-duration: 1800ms;
    -moz-animation-duration: 1800ms;
    -o-animation-duration: 1800ms;
    animation-duration: 1800ms;
}
.animated-duration-2000ms {
    -webkit-animation-duration: 2000ms;
    -moz-animation-duration: 2000ms;
    -o-animation-duration: 2000ms;
    animation-duration: 2000ms;
}
.animated-duration-2s {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}
.animated-duration-2200ms {
    -webkit-animation-duration: 2200ms;
    -moz-animation-duration: 2200ms;
    -o-animation-duration: 2200ms;
    animation-duration: 2200ms;
}
.animated-duration-2400ms {
    -webkit-animation-duration: 2400ms;
    -moz-animation-duration: 2400ms;
    -o-animation-duration: 2400ms;
    animation-duration: 2400ms;
}
.animated-duration-3s {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
}
.animated-duration-1s {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}
.animated-delay-200ms {
    -webkit-animation-delay: 200ms;
    -moz-animation-delay: 200ms;
    -o-animation-delay: 200ms;
    animation-delay: 200ms;
}
.animated-delay-400ms {
    -webkit-animation-delay: 400ms;
    -moz-animation-delay: 400ms;
    -o-animation-delay: 400ms;
    animation-delay: 400ms;
}
.animated-delay-600ms {
    -webkit-animation-delay: 600ms;
    -moz-animation-delay: 600ms;
    -o-animation-delay: 600ms;
    animation-delay: 600ms;
}
.animated-delay-800ms {
    -webkit-animation-delay: 800ms;
    -moz-animation-delay: 800ms;
    -o-animation-delay: 800ms;
    animation-delay: 800ms;
}
.animated-delay-1000ms {
    -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    -o-animation-delay: 1000ms;
    animation-delay: 1000ms;
}
.animated-delay-1200ms {
    -webkit-animation-delay: 1200ms;
    -moz-animation-delay: 1200ms;
    -o-animation-delay: 1200ms;
    animation-delay: 1200ms;
}
.animated-delay-1400ms {
    -webkit-animation-delay: 1400ms;
    -moz-animation-delay: 1400ms;
    -o-animation-delay: 1400ms;
    animation-delay: 1400ms;
}
.animated-delay-1600ms {
    -webkit-animation-delay: 1600ms;
    -moz-animation-delay: 1600ms;
    -o-animation-delay: 1600ms;
    animation-delay: 1600ms;
}
.animated-delay-1800ms {
    -webkit-animation-delay: 1800ms;
    -moz-animation-delay: 1800ms;
    -o-animation-delay: 1800ms;
    animation-delay: 1800ms;
}
.animated-delay-2000ms {
    -webkit-animation-delay: 2000ms;
    -moz-animation-delay: 2000ms;
    -o-animation-delay: 2000ms;
    animation-delay: 2000ms;
}
.animated-delay-2s {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}
.animated-delay-2200ms {
    -webkit-animation-delay: 2200ms;
    -moz-animation-delay: 2200ms;
    -o-animation-delay: 2200ms;
    animation-delay: 2200ms;
}
.animated-delay-2400ms {
    -webkit-animation-delay: 2400ms;
    -moz-animation-delay: 2400ms;
    -o-animation-delay: 2400ms;
    animation-delay: 2400ms;
}

/*-----------------------------------------------------------
    Breadcrumbs
----------------------------------------------------------*/

.breadcrumb {
    background-color: transparent;
    border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.breadcrumb, .breadcrumb a {
    color: #777777;
}
.breadcrumb .fa {
    font-size: 14px;
    margin-right: 5px;
}
.breadcrumb.bg {
    background-color: transparent;
}
.breadcrumb.border {
    border: 1px solid #eaeaea;
    background-color: transparent;
}
.breadcrumb.primary, .breadcrumb.primary a, .breadcrumb.primary li.active {
    color: #293541;
}
.breadcrumb.auto-hidden li a.collapsed {
    width: 50px !important;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.breadcrumb.auto-hidden li a {
    width: auto;
    white-space: nowrap;
    display: inline-block;
}
.breadcrumb>li, .breadcrumb li a {
}

/*-----------------------------------------------------------
    Labels
----------------------------------------------------------*/

.label {
    padding: .5em .9em .5em;
    font-size: 75%;
    font-weight: 400;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
}
.label .fa {
    font-size: 100%;
    margin-right: 5px;
}
.label-secondary {
    background-color: rgba(169, 169, 169, 1.0);
}
.label-primary {
    background-color: rgba(31, 181, 172, 1);
}
.label-purple {
    background-color: rgba(153, 114, 181, 1.0);
}
.label-orange {
    background-color: rgba(250, 133, 100, 1.0);
}
.label-info {
    background-color: rgba(35, 183, 229, 1.0);
}
.label-warning {
    background-color: #FDB45C;
}
.label-danger {
    background-color: rgba(240, 80, 80, 1.0);
}
.label-success {
    background-color: rgba(102, 189, 120, 1.0);
}
.uilabels .label {
    display: inline-block;
    margin: 5px 5px 0 0;
}
.uilabels.text-md {
    font-size: 16px;
}
.uilabels.text-lg {
    font-size: 18px;
}

/*-----------------------------------------------------------
  Page Layout - Sidebar, toggle interactions
-----------------------------------------------------------*/

#main-content, .page-chatapi, .page-topbar, .page-sidebar, .page-topbar .logo-area, .page-topbar .quick-area .pull-right, .collapse-wraplist, .profile-info, .wraplist, .chatapi-windows {
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -o-transition: 600ms;
    transition: 600ms;
}

.main-wrapper{
    margin-top:60px;
    display:inline-block;
    width:100%;
    padding:15px 0 0 15px;
}


.page-sidebar.collapseit {
    width: 60px;
    margin-left: 0px !important;
    z-index: 99;
}
.page-sidebar.chat_shift {
    width: 60px;
    margin-left: 0px !important;
    z-index: 99;
}
#main-content {
    margin-left: 300px;
    display: block;
}
#main-content.hor_menu {
    margin-left: 0px;
}
#main-content.chat_shift {
    margin-left: 60px !important;
    margin-right: 300px !important;
}
#main-content.sidebar_shift {
    margin-left: 60px;
    margin-right: 0px;
}
#main-content.sidebar_shift.hor_menu {
    margin-left: 0px;
}
.page-topbar.chat_shift {
    margin-left: -240px !important;
}
.page-topbar.chat_shift .quick-area .pull-right {
    margin-right: 60px !important;
}
/*.page-topbar.chat_shift .chat-toggle-wrapper{
  background-color: #333333;
}

.page-topbar .quick-area .pull-right .info-menu{
  padding: 0px;
}
*/

.page-topbar.sidebar_shift .logo-area {
    width: 60px;
}
.page-topbar.chat_shift .logo-area {
    width: 300px;
}

.boxed .page-topbar.chat_shift .logo-area{
    width: 60px;
}

.page-chatapi.hideit {
    width: 0px;
    height: 658px;
}
.page-chatapi.showit {
    width: 300px;
    height: 100%;
}
.page-chatapi {
    height: auto;
    position: fixed;
    padding: 0px;
    background-color: rgba(50, 50, 58, 1.0);
    margin-top: 0px;
    top: 0px;
    right: 0px;
    z-index: 9999;
}

.boxed .page-chatapi{
    right: 5%;
    overflow: hidden;
}

.boxed .page-topbar.chat_shift{
    padding-right: 240px;
}

.chatapi-windows {
    position: fixed;
    bottom: 0px;
    right: 300px;
    height: 300px;
    max-height: 300px;
    display: inline-block;
    z-index: 9999;
}

.boxed .chatapi-windows{
    right: 370px;
}
/*collapsed menu and chat open states*/

.page-topbar.sidebar_shift .logo-area {
    background-color: #FE8F3E;
}
.page-topbar.chat_shift .logo-area {
    background-color: #FE8F3E;
}
.chatapi-windows.hideit {
    bottom: -300px;
}
.chatapi-windows.showit {
    height: 300px;
    bottom: 0px !important;
}
/*--------------------------------------------
  COLLAPSED MENU
---------------------------------------------*/

.page-sidebar.chat_shift .wraplist, .page-sidebar.collapseit .wraplist {
    width: 60px;
}
.page-sidebar.chat_shift .wraplist .sub-menu, .page-sidebar.collapseit .wraplist .sub-menu {
    display: none;
}
.page-sidebar.chat_shift .wraplist li, .page-sidebar.collapseit .wraplist li {
    position: relative !important;
}
.page-sidebar.chat_shift .wraplist li .title, .page-sidebar.collapseit .wraplist li .title, .page-sidebar.chat_shift .wraplist li .arrow, .page-sidebar.collapseit .wraplist li .arrow {
    display: none;
}
.page-sidebar.chat_shift .wraplist li:hover, .page-sidebar.collapseit .wraplist li:hover {
    background: #293541;
}
.page-sidebar.chat_shift .wraplist .sub-menu li:hover, .page-sidebar.collapseit .wraplist .sub-menu li:hover {
    background: transparent;
}
.page-sidebar.chat_shift #main-menu-wrapper .wraplist .sub-menu li a:hover, .page-sidebar.collapseit #main-menu-wrapper .wraplist .sub-menu li a:hover {
    background-color: #323E4A;
    color: rgba(174, 178, 183, 1.0);
}
.page-sidebar.chat_shift #main-menu-wrapper .wraplist .sub-menu li.open a, .page-sidebar.collapseit #main-menu-wrapper .wraplist .sub-menu li.open a, .page-sidebar.chat_shift #main-menu-wrapper .wraplist .sub-menu li.open .sub-menu a, .page-sidebar.collapseit #main-menu-wrapper .wraplist .sub-menu li.open .sub-menu a {
    background-color: transparent;
    border-left: 3px solid transparent;
    color: rgba(174, 178, 183, 1.0);
}
.page-sidebar.chat_shift .profile-info, .page-sidebar.collapseit .profile-info {
    width: 60px;
    margin: 0;
    padding: 10px 12px 25px 0px;
}
.page-sidebar.chat_shift .profile-info .profile-image, .page-sidebar.collapseit .profile-info .profile-image {
    width: 100%;
    padding: 0;
}
.page-sidebar.chat_shift .profile-info .profile-image img, .page-sidebar.collapseit .profile-info .profile-image img {
    height: 40px;
    width: 40px;
    top: 10px;
}
.page-sidebar.chat_shift .profile-details, .page-sidebar.collapseit .profile-details {
    display: none;
}
.page-sidebar.chat_shift .project-info, .page-sidebar.collapseit .project-info {
    display: none;
}

.page-sidebar.chat_shift #main-menu-wrapper .wraplist li:hover .sub-menu, .page-sidebar.collapseit #main-menu-wrapper .wraplist li:hover .sub-menu {
    display: block;
}
.page-sidebar.chat_shift #main-menu-wrapper .wraplist li:hover .sub-menu .sub-menu, .page-sidebar.collapseit #main-menu-wrapper .wraplist li:hover .sub-menu .sub-menu {
    display: none;
}
.page-sidebar.chat_shift .wraplist li:hover .sub-menu, .page-sidebar.collapseit .wraplist li:hover .sub-menu {
    position: absolute;
    left: 60px;
    top: 0px;
    width: 240px !important;
    background: #293541;
}
.page-sidebar.chat_shift .wraplist li:hover .sub-menu .sub-menu, .page-sidebar.collapseit .wraplist li:hover .sub-menu .sub-menu {
    position: relative;
    left: 0px;
    top: 0px;
    width: auto !important;
    background: #293541;
}
.page-sidebar.chat_shift .wraplist li:hover .sub-menu .sub-menu, .page-sidebar.collapseit .wraplist li:hover .sub-menu .sub-menu {
    position: relative;
    margin-top: 0px;
}
.page-sidebar.chat_shift, .page-sidebar.collapseit, .page-sidebar.chat_shift #main-menu-wrapper, .page-sidebar.collapseit #main-menu-wrapper {
    overflow: visible !important;
}
.page-sidebar.chat_shift .ps-scrollbar-y-rail, .page-sidebar.collapseit .ps-scrollbar-y-rail {
    display: none;
}
.page-sidebar.chat_shift, .page-sidebar.collapseit {
    position: absolute !important;
}
.page-sidebar.chat_shift #main-menu-wrapper, .page-sidebar.collapseit #main-menu-wrapper, .page-sidebar.chat_shift #main-menu-wrapper .wraplist, .page-sidebar.collapseit #main-menu-wrapper .wraplist {
    /*height: 3000px !important;*/
}
.page-sidebar.chat_shift #main-menu-wrapper, .page-sidebar.collapseit #main-menu-wrapper {
    padding-top: 0px;
    /*top: -79px;*/
}
.page-sidebar.chat_shift .wraplist li:hover .title, .page-sidebar.collapseit .wraplist li:hover .title {
    float: left;
    padding-left: 15px;
    width: 240px;
    background: #323E4A;
    display: inline-block !important;
}
.page-sidebar.chat_shift .wraplist li:hover .sub-menu .title, .page-sidebar.collapseit .wraplist li:hover .sub-menu .title {
    padding-left: 0px;
    background: transparent;
    display: inline-block;
    width: auto;
}
.page-sidebar.chat_shift .wraplist li:hover .sub-menu .arrow, .page-sidebar.collapseit .wraplist li:hover .sub-menu .arrow {
    display: inline-block;
}
.page-sidebar.chat_shift #main-menu-wrapper .wraplist li .fa, .page-sidebar.collapseit #main-menu-wrapper .wraplist li .fa {
    float: left;
    font-size: 17px;
    height: 45px;
    line-height: 45px;
    width: 60px;
    top: 0px;
}
.page-sidebar.chat_shift #main-menu-wrapper .wraplist li:hover a, .page-sidebar.collapseit #main-menu-wrapper .wraplist li:hover a {
    width: 300px;
}
.page-sidebar.chat_shift #main-menu-wrapper .wraplist li a, .page-sidebar.collapseit #main-menu-wrapper .wraplist li a {
    padding-left: 0px;
}
.page-sidebar.chat_shift #main-menu-wrapper .wraplist li .sub-menu a, .page-sidebar.collapseit #main-menu-wrapper .wraplist li .sub-menu a {
    padding-left: 15px;
}
.page-sidebar.chat_shift .wraplist li:hover .sub-menu, .page-sidebar.collapseit .wraplist li:hover .sub-menu {
    margin-top: 45px !important;
    padding-left: 15px !important;
}
.page-sidebar.chat_shift .wraplist li:hover .sub-menu .sub-menu, .page-sidebar.collapseit .wraplist li:hover .sub-menu .sub-menu {
    margin-top: 0px !important;
    padding-left: 0px !important;
    display: none;
    left: 0px;
}
.page-sidebar.chat_shift #main-menu-wrapper .wraplist li:hover .sub-menu a, .page-sidebar.collapseit #main-menu-wrapper .wraplist li:hover .sub-menu a {
    width: 225px;
    color: rgba(174, 178, 183, 1.0);
}
.page-sidebar.chat_shift #main-menu-wrapper .wraplist li.open .sub-menu a:hover, .page-sidebar.chat_shift #main-menu-wrapper .wraplist li .sub-menu a:hover, .page-sidebar.collapseit #main-menu-wrapper .wraplist li.open .sub-menu a:hover, .page-sidebar.collapseit #main-menu-wrapper .wraplist li .sub-menu a:hover {
    background-color: #323E4A;
    color: rgba(174, 178, 183, 1.0);
}
.page-sidebar.chat_shift .wraplist li:hover .sub-menu li, .page-sidebar.collapseit .wraplist li:hover .sub-menu li {
    padding-left: 0px !important;
}
.page-sidebar.chat_shift .wraplist li:hover .sub-menu li .title, .page-sidebar.collapseit .wraplist li:hover .sub-menu li .title {
    padding-left: 0px !important;
}
.page-sidebar.chat_shift .wraplist li:hover .sub-menu li li .title, .page-sidebar.collapseit .wraplist li:hover .sub-menu li li .title {
    padding-left: 15px !important;
}
.page-sidebar.chat_shift .wraplist li:hover .sub-menu li li li .title, .page-sidebar.collapseit .wraplist li:hover .sub-menu li li li .title {
    padding-left: 30px !important;
}
.page-sidebar.chat_shift .wraplist li:hover .sub-menu li li li li .title, .page-sidebar.collapseit .wraplist li:hover .sub-menu li li li li .title {
    padding-left: 45px !important;
}

/*-------------------------------------------------------------
  Visibility Animation in Elements (Viewport)
---------------------------------------------------------------*/

.inviewport, .hiddenthis {
    opacity: 0;
}
.inviewport.visible {
    opacity: 1;
}

/*---------------------------------------------
      Navigation Bars
--------------------------------------------*/

.navbar-inverse {
    box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -o-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -ms-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -moz-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -webkit-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
}
.navbar-default {
    background-image: none;
    background: #f5f5f5;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -o-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -ms-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -moz-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    -webkit-box-shadow: 0px 0px 5px rgba(86, 96, 117, 0.15);
    border-color: #eaeaea;
}
.navbar-default li a, .navbar-default li a {
    line-height: 36px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.active>a {
    background-image: none;
    box-shadow: inset 0px 0px 5px rgba(86, 96, 117, 0.15);
    -ms-box-shadow: inset 0px 0px 5px rgba(86, 96, 117, 0.15);
    -o-box-shadow: inset 0px 0px 5px rgba(86, 96, 117, 0.15);
    -moz-box-shadow: inset 0px 0px 5px rgba(86, 96, 117, 0.15);
    -webkit-box-shadow: inset 0px 0px 5px rgba(86, 96, 117, 0.15);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #eaeaea;
}
.navbar-default .navbar-toggle {
    border-color: #eaeaea;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 8px;
    margin-top: 9px;
    margin-right: 15px;
    margin-bottom: 9px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-size: 14px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #eaeaea;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #777777;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 3px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 16px;
    height: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.navbar {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.navbar-inverse {
    background-image: none;
}
.navbar-inverse {
    background-color: rgba(50, 50, 58, 1.0);
    border-color: transparent;
    color: rgba(174, 178, 183, 1.0);
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: rgba(174, 178, 183, 1.0);
    background-color: #323E4A;
    background-image: none;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: rgba(174, 178, 183, 1.0);
    background-color: transparent;
}
.navbar-inverse li a, .navbar-inverse li a {
    line-height: 36px;
}
.navbar-brand {
    font-size: 17px;
}
.navbar.navbar-primary {
    background-image: none;
}
.navbar.navbar-primary {
    background-color: #1fb5ac;
    border-color: transparent;
    color: #f5f5f5;
}
.navbar.navbar-primary .navbar-nav>.active>a, .navbar.navbar-primary .navbar-nav>.active>a:hover, .navbar.navbar-primary .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: rgba(100, 100, 100, 0.2);
    background-image: none;
}
.navbar.navbar-primary .navbar-nav>li>a:hover, .navbar.navbar-primary .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: transparent;
}
.navbar-primary .navbar-brand {
    color: #f5f5f5;
}
.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
}
.navbar-primary .navbar-nav>li>a {
    color: #f5f5f5;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #bcbcbc;
}
.navbar-primary .navbar-toggle {
    border-color: rgba(50, 50, 58, 0.1);
}
.navbar-primary .navbar-toggle .icon-bar {
    background-color: #cccccc;
}
.navbar-primary .navbar-toggle:hover, .navbar-primary .navbar-toggle:focus {
    background-color: rgba(50, 50, 58, 0.4);
}
.navbar-primary .navbar-collapse, .navbar-primary .navbar-form {
    border-color: rgba(50, 50, 58, 0.2);
}

/*-----------------------------------------------------------
    Logo
----------------------------------------------------------*/

.page-topbar .logo-area {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
}
.page-topbar.sidebar_shift .logo-area {
    background-image: url('../images/logo-folded.png');
    background-repeat: no-repeat;
    background-position: right top;
}
.page-topbar.chat_shift .logo-area {
    background-image: url('../images/logo-folded.png');
    background-repeat: no-repeat;
    background-position: right top;
}

/*----------------------------------------
    UI Dropdowns
------------------------------------------*/

.ui-dropdowns .btn-group{
    margin: 0 15px 15px 0;
}

/*----------------------------------------
    Mobile Menu Since - 3.1
------------------------------------------*/

        .page-topbar .chat-toggle-wrapper .fa-times{
            display: none;
        }

@media (max-width: 767px) {

    .main-wrapper{
        padding:15px 0 0 0px;
    }

    .page-topbar .logo-area,
    .page-topbar.sidebar_shift .logo-area{
        width: 100%;
    }

    .page-topbar.sidebar_shift .logo-area{
        background-position: left top;
    }

    .page-topbar .quick-area .info-menu li.sidebar-toggle-wrap{
        position: fixed;
        top: 0px;
        right: 0px;
    }

    .page-topbar .quick-area .info-menu li.notify-toggle-wrapper a,
    .page-topbar .quick-area .info-menu li.message-toggle-wrapper a,
    .page-topbar .quick-area .info-menu li a.toggle_chat,
    .page-topbar .quick-area .info-menu li.sidebar-toggle-wrap a.sidebar_toggle{
        color: #ffffff;
    }

    .page-topbar .quick-area .pull-right{
        position: fixed;
        top: 0px;
        right: 30px;
    }

    .page-topbar .quick-area .info-menu li.message-toggle-wrapper{
            position: fixed;
            top: 0px;
            right: 190px;
        }

    .page-topbar .quick-area .info-menu li.notify-toggle-wrapper{
            position: fixed;
            top: 0px;
            right: 140px;
        }

        .page-sidebar{
            z-index: 5;
        }

        #main-content{
            margin-left: 60px;
            z-index: 2;
        }

        #main-content.chat_shift {
            margin-left: 60px !important;
            margin-right: 0px !important;
        }


        .page-topbar.chat_shift {
            margin-left: 0px !important;
        }

        .page-topbar.chat_shift .quick-area .pull-right{
            margin-right: 0px !important;
        }

        .page-topbar.chat_shift .chat-toggle-wrapper{
            position: fixed;
            right: 260px;
        }
    
        #main-content, .page-chatapi, .page-topbar, .page-sidebar, .page-topbar .logo-area, .page-topbar .quick-area .pull-right, .collapse-wraplist, .profile-info, .wraplist, .chatapi-windows {
            -webkit-transition: 0ms;
            -moz-transition: 0ms;
            -o-transition: 0ms;
            transition: 0ms;
        }

        .page-topbar.chat_shift .chat-toggle-wrapper .badge,
        .page-topbar.chat_shift .chat-toggle-wrapper .fa-comments{
            display: none;
        }

        .page-topbar.chat_shift .chat-toggle-wrapper .fa-times{
            display: inline-block;
        }

        .page-topbar .logo-area {
            background-image: url('../images/logo-folded.png');
            background-repeat: no-repeat;
            background-position: left top;
        }

    .page-topbar .quick-area .info-menu li .dropdown-menu{
        width: 280px;
        left: -120px;
    }

    .page-topbar .quick-area .info-menu li.open{
        background-color: #ffffff;
    }

        .page-topbar .quick-area .info-menu li.open a{
            color: #717171;
        }

    .page-topbar .quick-area .info-menu li .dropdown-menu:before,
        .page-topbar .quick-area .info-menu li .dropdown-menu:after{
        display: none;
    }
}

/*----------------------------------------------------------------
    Login and Registration Page - Transparent Background Style
------------------------------------------------------------------*/

.loginpage {
    padding: 0 50px;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .loginpage {
        padding: 0 90px;
    }
}

@media (max-width: 992px){
    .loginpage {
        padding: 0 15px;
    }
}


@media (max-width: 767px){
    .loginpage {
        padding: 0 30px;
    }
}


.loginpage h1 a {
    height: 92px;
    margin: 0px auto 0px auto;
    padding: 0;
    text-decoration: none;
    -moz-background-size: 345px 92px;
    -o-background-size: 345px 92px;
    background-size: 345px 92px;
    background-color: transparent;
    min-height: 92px;
    width: auto;
    background-image: url('../images/login-logo.png');
    background-position: center top;
    background-repeat: no-repeat;
    text-indent: -9999px;
    outline: 0;
    overflow: hidden;
    display: block;
}
.loginpage form {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 0;
    font-weight: 400;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    background-color: transparent;
}
.loginpage form .forgetmenot {
    width: 100%;
    display: block;
    margin: 12px 0 11px 0!important;
    font-weight: 400;
    float: left;
    margin-bottom: 0px;
}
.loginpage form p.submit {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}
.loginpage label {
    font-size: 14px;
    line-height: 23px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
}
.loginpage form .input, .loginpage form input[type=checkbox], .loginpage input[type=text] {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    -ms-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    -o-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
    /* text-shadow: 1px 1px 1px rgba(200,200,200,.1); */
    
    font-weight: 500;
}
.loginpage form .input, .loginpage input[type=text] {
    font-size: 19px;
    width: 100%;
    padding: 9px;
    line-height: 25px;
    margin: 5px 0 15px 0;
    border: 1px solid transparent !important;
}
.loginpage form .input, .loginpage form input[type=checkbox], .loginpage input[type=text] {
    color: rgba(250, 133, 100, 1)
    /*#fa8564*/
    
    ;
    background: #fbfbfb;
}
.loginpage #nav a, .loginpage a {
    color: rgba(255, 255, 255, 1)
    /*#ffffff*/
    
    ;
    font-size: 15px;
    color: #dddddd;
}
.loginpage #nav a:hover, .loginpage a:hover, .loginpage #nav a:active, .loginpage a:active {
    color: rgba(255, 255, 255, 1)
    /*#ffffff*/
    
    ;
}
.loginpage, .loginpage form label, .loginpage form, .loginpage .message {
    color: rgba(255, 255, 255, 1)
    /*#ffffff*/
    
    ;
}
.loginpage form .input, .loginpage form input[type=checkbox], .loginpage input[type=text] {
    background-color: rgba(255, 255, 255, 0.6)
    /*#ffffff*/
    
    ;
}
.loginpage form .input:hover, .loginpage form input[type=checkbox]:hover, .loginpage input[type=text]:hover, .loginpage form .input:focus, .loginpage form input[type=checkbox]:focus, .loginpage input[type=text]:focus {
    background-color: rgba(255, 255, 255, 0.8)
    /*#ffffff*/
    
    ;
}
.loginpage #login_error, .loginpage .message {
    background-color: rgba(255, 255, 255, 0.6)
    /*#ffffff*/
    
    ;
}
.loginpage .message, .loginpage .message a, .loginpage #login_error, .loginpage #login_error a {
    color: rgba(250, 133, 100, 1)
    
    ;
}
.register-social {
    margin: 30px 0;
}
.register-social a {
    margin: 5px 5px 5px 5px;
}
body.login_page {
    background-image: url("../images/login-bg.png");
    background-position: center top;
    background-color: #293541;
    height: 100%;
    max-height: 100%;
    min-height: 99%;
    overflow: hidden;
    width: 100%;
}
.register-wrapper {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 100px;
}
#register {
    padding-bottom: 100px;
}
.login-wrapper {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}